html {
    display: table;
    margin: auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url("../images/rafflesSGBar.jpg");
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  
    filter: contrast(70%) opacity(0.3) blur(2px);
}

body {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(234, 237, 220);
}

.header {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: large;
    font-weight: bold;
    max-width: 67%;
}

.header h1{
    font-family: "Sofia";
}
.header p{
    font-family: "Trirong";
}

.input-group {
    position: relative;
}

.container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    max-width: 85%;
}

#search-result {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto Slab";
    overflow-wrap: break-word;
}

.drink-figure {
    margin: 0 0;
    padding: 20px 20px;
    transition: 0.5s;
    text-decoration: none;
}

.drink-figure img {
    position: relative;
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.drink-figure figcaption {
    width: 200px;
    color: indigo;
}

.drink-figure:hover {
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}

.drink-figure:hover img {
    filter: brightness(75%);
}

.drink-figure:hover figcaption {
    color: red;
}