html {
    display: table;
    margin: auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url("../images/rafflesSGBar.jpg");
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  
    filter: contrast(70%) opacity(0.3) blur(2px);
}

body {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(234, 237, 220);
}