html {
    display: table;
    margin: auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url("images/rafflesSGBar.jpg");
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  
    filter: contrast(70%) opacity(0.3) blur(2px);
}

body {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(229, 234, 209);
}

.header {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: large;
    font-weight: bold;
    max-width: 67%;
}

.header h1{
    font-family: "Sofia";
}
.header p{
    font-family: "Trirong";
}

.input-group {
    position: relative;
}

.container {
    display: grid;
}

#search-result {
    margin-top: 3%;
    width: 80%;
    justify-self: center;
}

.drink-figure {
    display: inline-block;
    margin: 0 0;
    padding: 20px 20px;
}

.drink-figure img {
    position: relative;
    width: 200px;
    height: auto;
}