body {
    text-align: center;
    background-color: rgb(229, 234, 209);
}

.background {
    filter: contrast(70%) opacity(0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}

.header {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: large;
    font-weight: bold;
    max-width: 67%;
}

.header h1{
    font-family: "Sofia";
}
.header p{
    font-family: "Trirong";
}

.input-group {
    position: relative;
}